<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}
{% load template_tags %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
{% block title %}
تغییر پسوورد
{% endblock title %}

<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices --><strong>تغییرات رمز عبور</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}


</header>
{% block main_content %}
        <div class="col-xs-6">
                <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                    <table class="table">
                        <tbody>
                        {% for field in form %}
                            <tr>
                                <th><label for="id_name">{{ field.label_tag }}</label></th>
                                <td>
                                    {% if field.errors %}
                                      <ul>
                                        {% for error in field.errors %}
                                          <li>{{ error }}</li>
                                        {% endfor %}
                                      </ul>
                                    {% endif %}
                                    {{ field }}
                                    {% if field.help_text %}
                                      <br />{{ field.help_text }}
                                    {% endif %}
                                  </td>
                            </tr>
                            {% endfor %}
                            {% if form.non_field_errors %}
                            <ul>
                                {{ form.non_field_errors.as_ul }}
                            </ul>
                            {% endif %}
                        </table>
            
            
                    <input type="submit" value="ثبت">
                </form>
            </div>
{% endblock main_content %}












