<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}
{% load template_tags %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block title %}
ویرایش پروفایل
{% endblock title %}

<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices --><strong>ویرایش پروفایل</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}


</header>
{% block main_content %}
<div class="col-xs-6">
    <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
        {{ form.first_name }}
        {{ form.last_name }}


        <h5>نشانی‌ها</h5>
        <ul>
            {% for loc in locations %}
            <li>{{loc}}</li>
            {% endfor %}
        </ul>
        <h2> ثبت نشانی جدید </h2>
        {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <select class="form-control" data-placeholder="استان"
                style="width: 100%;" name="state">
            {% for key,val in states.items %}
            {% if request.GET %}
            {% if key|slugify == request.GET.state %}
            <option value={{key}} selected>{{val}}</option>
            {% else %}
            <option value={{key}}>{{val}}</option>
            {% endif %}
            {% else %}
            {% if key == 0 %}
            <option value={{key}} selected>انتخاب استان</option>
            {% else %}
            <option value={{key}}>{{val}}</option>
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <select class="form-control" data-placeholder="شهر" style="width: 100%;" name="city">
            {% for key,val in cities.items %}
            {% if request.GET %}
            {% if key|slugify == request.GET.city %}
            <option value={{key}} selected>{{val}}</option>
            {% else %}
            <option value={{key}}>{{val}}</option>
            {% endif %}
            {% else %}
            {% if key == 0 %}
            <option value={{key}} selected>انتخاب شهر</option>

            {% else %}
            <option value={{key}}>{{val}}</option>
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>

        <select class="form-control" data-placeholder="محله" style="width: 100%;" name="district">
            {% for key,val in districts.items %}
            {% if request.GET %}
            {% if key|slugify == request.GET.district %}
            <option value={{key}} selected>{{val}}</option>
            {% else %}
            <option value={{key}}>{{val}}</option>
            {% endif %}
            {% else %}
            {% if key == 0 %}
            <option value={{key}} selected>انتخاب محله</option>
            {% else %}
            <option value={{key}}>{{val}}</option>
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="ثبت">
    </form>
</div>

{% endblock main_content %}

{% block scripts %}
<!-- jQuery 2.1.4 -->
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- Select2 -->
<script src='{% static "AdminLTE-RTL/plugins/select2/select2.full.min.js" %}'></script>
<!-- InputMask -->
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker.js" %}'></script>
<!-- bootstrap color picker -->
<script src='{% static "AdminLTE-RTL/plugins/colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<!-- bootstrap time picker -->
<script src='{% static "AdminLTE-RTL/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>
<!-- SlimScroll 1.3.0 -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<!-- Page script -->
<script>
function generete_city_url(id){
    return "{% url "location:get_cities" state_id=0 %}".replace("0", id);
}
function generete_district_url(id){
    return "{% url "location:get_districts" city_id=0 %}".replace("0", id);
}
$(document).ready(function(){
    $('select[name=state]').change(function(){
        state = $(this).val();

            var request_url =generete_city_url(state);
            $('select[name=city]').find('option').remove()
            $.ajax({
            url: request_url,
            success: function(data){
                $.each(data, function(index, text){
                    if (index == 0){
                        $('select[name=city]').append(
                         $('<option selected></option>').val(index).html("انتخاب شهر")
                     );
                    }
                    else{
                    $('select[name=city]').append(
                         $('<option></option>').val(index).html(text)
                     );
                    }
                });
            }
            });

        return false;
    })
        $('select[name=city]').change(function(){
            city = $(this).val();

            var request_url =generete_district_url(city);
            $('select[name=district]').find('option').remove()
            $.ajax({
            url: request_url,
            success: function(data){
                $.each(data, function(index, text){
                    if (index == 0){
                        $('select[name=district]').append(
                         $('<option selected></option>').val(index).html("انتخاب محله")
                     );
                    }
                    else{
                        $('select[name=district]').append(
                         $('<option></option>').val(index).html(text)
                     );
                    }

                });
            }
            });

        return false;
    })
    });
$(function () {
    $(".select2").select2();

});





</script>
{% endblock scripts %}
