{% load static staticfiles %}
<!DOCTYPE html>
<html>
  <div>
  <head>
    <meta charset="UTF-8">
    <title>سخوف | ورود</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href = '{% static "AdminLTE-RTL/bootstrap/css/bootstrap.min.css" %}' >
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href = '{% static "AdminLTE-RTL/dist/css/AdminLTE.min.css" %}' >
    <!-- iCheck -->
    <link rel="stylesheet" href = '{% static "AdminLTE-RTL/plugins/iCheck/square/blue.css" %}' >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="login-page" dir="rtl">
    <div class="login-box">
      <div class="login-logo">
        <a href = '{% static "AdminLTE-RTL/index2.html" %}' >سخوف</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body" style="border-radius: 10px;">
        <p class="login-box-msg">ورود</p>
        {% if next %}
        {% if user.is_authenticated %}
        <p>حساب کاربری شما به این صفحه دسترسی ندارد. لطفا با حسابی که دسترسی دارد وارد شوید. </p>
        {% else %}
        <p class = "text-danger">برای دسترسی به صفحه مقصد لازم است وارد شوید.</p>
        {% endif %}
        {% endif %}
        {% if form.errors %}
        <p name = "error" class="text-danger">نام کاربری یا رمز عبور اشتباه اند.</p>
        {% endif %}
        <p class="text-danger">{{message}}</p>
        <form method="post" novalidate>
          {% csrf_token %}
          <table>
            <tr>
              <input class="form-control" type="text" id="username" name="username"  placeholder="نام کاربری">
            </tr>
            <br>
            <tr>
              <input class="form-control" type="password" name="password" id="password" placeholder="کلمه عبور">
            </tr>
          </table>
          <br>
          <button name = "log in button" type="submit" class="btn btn-success" style="margin: auto; display: block;">ورود</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <!-- <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href = '{% static "AdminLTE-RTL/pages/examples/#" %}'  class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
          <a href = '{% static "AdminLTE-RTL/pages/examples/#" %}'  class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div> /.social-auth-links -->
        <a href = "{% url 'registeration:register' %}"  class="text-center" style="text-decoration: none;
                      width: 80px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">ثبت نام</a>
        <a href = "{% url 'registeration:forget_password' %}"  class="text-center" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">فراموشی رمز عبور</a>
        <a href = "{% url 'landing:landing' %}"  class="text-center" style="text-decoration: none;
        width: 80px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
        border-radius: 10px; text-align: center">خانه</a>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

    <!-- jQuery 2.1.4 -->
    <script src = '{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}' ></script>
    <!-- Bootstrap 3.3.4 -->
    <script src = '{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}' ></script>
    <!-- iCheck -->
    <script src = '{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}' ></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </body>
  </div>
</html>
