<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
{% block title %}
پرداخت
{% endblock title %}


<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices --><strong>پرداخت موفق</strong><br>
    </a>
    {% endblock header %}

</header>

{% block main_content %}
<section id="sec1" class="content" style="display: inline-block; position: fixed; top: 200px; width: 80%;">
    <div class="row">
        <div class="col-xs-14">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">مبلغ {{amount}} تومان به طور موفق به کیف پول شما واریز شد.</h3><br>
                    <a href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">پنل کاربری</a>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>
<!-- /.content -->
{% endblock main_content %}

{% block scripts %}
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- DataTables -->
<script src='{% static "AdminLTE-RTL/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- page script -->
<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name="'+title+'" placeholder="Search ' + title + '" />');
    });

    // DataTable
    var table = $('#table').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });


</script> {% endblock scripts %}