<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}
{% load template_tags %}


{% block title %}
معرفی سخوف به دوستان
{% endblock title %}

<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>کد معرفی</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}


</header>
{% block main_content %}
<div class="box box-success" style = "width:60%">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <i class="fa fa-barcode"></i>

      <h3 class="box-title">دریافت کد معرفی</h3>
    </div>
<div class="row">
    <div class="col-xs-6">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">کد معرفی به دوستان</h3>
            </div>
            <div class="box-body">
                <p>اگر دوستان شما این کد را در هنگام ثبت نام وارد کنند {{amount}} تومان به شارژ شما در سخوف اضافه
                    می‌شود.</p>
                <br>

                <h4>{{code}}</h4>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <box>

        </box>
    </div>
</div>
</div>
{% endblock main_content %}
