{% load static staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>سخوف | ثبت نام</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/bootstrap/css/bootstrap.min.css" %}'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/AdminLTE.min.css" %}'>
    <!-- iCheck -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/iCheck/square/blue.css" %}'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="register-page" dir="rtl">
<div class="register-box">
    <div class="register-logo">
        <a href='{% static "AdminLTE-RTL/index2.html" %}'>
            <b>سخوف</b></a>
    </div>
    <div class="register-box-body" style="width:350px; border-radius: 10px;" align="center">
        <p class="login-box-msg">ثبت نام مشتری جدید</p>
        <h5 style="text-align: center; color: green;">{{message}}</h5>
        <form method="post" novalidate>
            {% csrf_token %}
            <table class="table">
                <tbody>
                {% for field in form %}
                {% if field.label == "استان" or field.label == "شهر" or field.label == "محله" %}
                {% else %}
                <tr>
                    <th><label>{{ field.label_tag }}</label></th>
                    <td>
                        {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ field }}
                    </td>
                    <!-- <td>{{ field.help_text }}</td> -->
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <th><label>استان</label></th>
                    <td>
                        {% if form.state.errors %}
                        <ul>
                            {% for error in form.state.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <select class="form-control" data-placeholder="استان"
                                style="width: 90%;" name="state">
                            {% for key,val in states.items %}
                            {% if request.GET %}
                            {% if key|slugify == request.GET.state %}
                            <option value={{key}} selected>{{val}}</option>
                            {% else %}
                            <option value={{key}}>{{val}}</option>
                            {% endif %}
                            {% else %}
                            {% if key == 0 %}
                            <option value={{key}} selected>انتخاب استان</option>
                            {% else %}
                            <option value={{key}}>{{val}}</option>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label>شهر</label></th>
                    <td>
                        {% if form.city.errors %}
                        <ul>
                            {% for error in form.city.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <select class="form-control" data-placeholder="شهر" style="width: 90%;" name="city">

                        </select>
                    </td>
                </tr>
                <tr>
                    <th><label>محله</label></th>
                    <td>
                        {% if form.district.errors %}
                        <ul>
                            {% for error in form.district.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <select class="form-control" data-placeholder="محله" style="width: 90%;" name="district">

                        </select>
                    </td>
                </tr>
                {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </ul>
                {% endif %}
            </table>
            <button type="submit" name="create" class="btn btn-primary btn-block btn-flat"
                    style="border-radius: 15px; width:100px;">ثبت
            </button>

        </form>

        <a href="{% url 'registeration:login' %}" class="text-center">عضو سخوف هستم.</a>
    </div>


    <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% block scripts %}
<!-- jQuery 2.1.4 -->
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- Select2 -->
<script src='{% static "AdminLTE-RTL/plugins/select2/select2.full.min.js" %}'></script>
<!-- InputMask -->
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker.js" %}'></script>
<!-- bootstrap color picker -->
<script src='{% static "AdminLTE-RTL/plugins/colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<!-- bootstrap time picker -->
<script src='{% static "AdminLTE-RTL/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>
<!-- SlimScroll 1.3.0 -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<!-- Page script -->
<script>
function generete_city_url(id){
    return "{% url "location:get_cities" state_id=0 %}".replace("0", id);
}
function generete_district_url(id){
    return "{% url "location:get_districts" city_id=0 %}".replace("0", id);
}
$(document).ready(function(){
    $('select[name=state]').change(function(){
        state = $(this).val();

            var request_url =generete_city_url(state);
            $('select[name=city]').find('option').remove()
            $.ajax({
            url: request_url,
            success: function(data){
                $.each(data, function(index, text){
                    if (index == 0){
                        $('select[name=city]').append(
                         $('<option selected></option>').val(index).html("انتخاب شهر")
                     );
                    }
                    else{
                    $('select[name=city]').append(
                         $('<option></option>').val(index).html(text)
                     );
                    }
                });
            }
            });

        return false;
    })
        $('select[name=city]').change(function(){
            city = $(this).val();

            var request_url =generete_district_url(city);
            $('select[name=district]').find('option').remove()
            $.ajax({
            url: request_url,
            success: function(data){
                $.each(data, function(index, text){
                    if (index == 0){
                        $('select[name=district]').append(
                         $('<option selected></option>').val(index).html("انتخاب محله")
                     );
                    }
                    else{
                        $('select[name=district]').append(
                         $('<option></option>').val(index).html(text)
                     );
                    }

                });
            }
            });

        return false;
    })
    });
$(function () {
    $(".select2").select2();

});







</script>
{% endblock scripts %}
</body>

</html>