{% load static staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>سخوف | ثبت نام</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/bootstrap/css/bootstrap.min.css" %}'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/AdminLTE.min.css" %}'>
    <!-- iCheck -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/iCheck/square/blue.css" %}'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href='{% static "AdminLTE-RTL/index2.html" %}'>
                <b>سخوف</b></a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg"> رمز عبور جدید</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {% csrf_token %}
                <table class="table">
                        <tbody>
                        {% for field in form %}
                            <tr>
                                <th><label for="id_name">{{ field.label_tag }}</label></th>
                                <td>
                                    {% if field.errors %}
                                      <ul>
                                        {% for error in field.errors %}
                                          <li>{{ error }}</li>
                                        {% endfor %}
                                      </ul>
                                    {% endif %}
                                    {{ field }}
                                  </td>
                                  <!-- <td>{{ field.help_text }}</td> -->
                            </tr>
                            {% endfor %}
                            {% if form.non_field_errors %}
                            <ul>
                                {{ form.non_field_errors.as_ul }}
                            </ul>
                            {% endif %}
                        </table>
                        <button type="submit" name="create" class="btn btn-primary btn-block btn-flat"
                        style="border-radius: 15px; width:100px;">ثبت </button>            
                {% for error in form.non_field_errors  %}
                  <span class="text-danger" name="first-name-error">{{ error }}</span>
               {% endfor %}
            </form>

        </div>

        
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    <!-- jQuery 2.1.4 -->
    <script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
    <!-- Bootstrap 3.3.4 -->
    <script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
    <!-- iCheck -->
    <script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
</body>

</html>