<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}



{% block title %}
ساخت تبلیغ
{% endblock title %}

{% block content_header_text %}
  <h1>ساخت تبلیغ</h1>
   {{ block.super }}
{% endblock content_header_text %}


{% block main_content %}

<div class="col-xs-6">
        <div class="box box-success" style = "width:60%">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                  <i class="fa fa-circle"></i>
            
                  <h3 class="box-title">تبلیغ تازه</h3>
                </div>
    <form method="post" novalidate>
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group has-feedback" onchange="(function(){
                    sum = 0;
                    if (document.getElementById('id_page').value == 'صفحه اصلی'
                    && document.getElementById('id_place').value == 'بالا')
                        sum = 4;
                    else if (document.getElementById('id_page').value == 'پنل کاربر'
                    && document.getElementById('id_place').value == 'بالا')
                        sum = 3;
                    else if (document.getElementById('id_place').value == 'پایین'
                    && document.getElementById('id_page').value == 'پنل کاربر')
                        sum = 2;
                    else if (document.getElementById('id_place').value == 'پایین'
                    && document.getElementById('id_page').value == 'صفحه اصلی')
                        sum = 3;
                    else
                        sum = 0;
                    document.getElementById('amount').innerText =
                        (1440*document.getElementById('id_period').value +
                        60*document.getElementById('id_hours').value +
                        1*document.getElementById('id_minutes').value) * sum;
                })();return false;">
                    {{field.label}}
                    <br>
                    {{field}}
                    {% for error in field.errors %}
                         <span class="text-danger" name="password-repeat-error">{{ error }}</span>
                    {% endfor %}
                </div>
                <span class="glyphicon form-control-feedback"></span> 
            {% endfor %}
        
        <div class="row">
            <div class="col-xs-4" style="width: 100%">
                <button type="submit" name="create" class="btn btn-success"
                        style="width: 20%; margin-right: 0%; border-radius: 15px">ثبت </button>
                <h5 style="display: inline">مبلغ قابل پرداخت:</h5>
                <h5 style="display: inline" id="amount">0</h5>
            </div>
            <!-- /.col -->
        </div>
        {% for error in form.non_field_errors  %}
          <span class="text-danger" name="first-name-error">{{ error }}</span>
       {% endfor %}
    </form>
</div>
</div>

{% endblock main_content %}













