{% for category in categories %}
{% if category.succs %}
<li class="treeview {% if category.is_active%} active {%endif%}">
    <a href="{{category.url}}">
        <i class="fa fa-folder"></i>&nbsp;&nbsp;&nbsp;&nbsp;<span>{{category.name}}</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        {% with categories=category.succs %}
        <div style="margin-right: 20px;">{% include "landing/categories_sidebar.html" %}</div>
        {% endwith %}
    </ul>
</li>
{% else %}
<li><a href="{{category.url}}"><i class="fa fa-circle-o"></i>&nbsp;&nbsp;{{category.name}}</a></li>
{% endif %}
{% endfor %}


    