<!DOCTYPE html>
{% load static staticfiles %}

<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>سخوف | خانه</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/bootstrap/css/bootstrap.min.css" %}'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/AdminLTE.min.css" %}'>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/skins/_all-skins.min.css" %}'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock head %}

</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="skin-blue" dir="rtl">
<div class="wrapper">
    <header class="main-header">
        {% block header %}
        <!-- Logo -->
        <a href='#' class="logo">
            <!-- logo for regular state and mobile devices --><strong>سخوف</strong><br>
        </a>
        {% block navbar %}

        {% include "landing/navbar.html" %}

        {% endblock navbar %}
        {% endblock header %}
    </header>


    <div class="content-wrapper" style="display: flow-root; height: 100%">
        <section class="content">
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">

                        {% include "landing/categories_sidebar.html" %}

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
            {% block search %}
            <form name="search-form" method="GET" action="{% url 'landing:landing' %}" novalidate>
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">جستجو</h3>
                    </div>
                    <div class="box-body">
                        <div class="input-group margin">

                            <input type="text" class="form-control" name='q'
                                   placeholder="محصول مورد نظر خود را جستجو کنید">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-info">بگرد!</button>
                            </div><!-- /btn-group -->
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </form>
            {% endblock search %}            
            <div class='col-md-12' style="float: right; width: 80%; padding: 0; margin: 0;">
            {% block items %}
            {% endblock items %}
            {% if object_list_recent %}
            <div style="width: 90%; margin: 10px auto; border: 1px solid; border-radius: 10px; overflow: hidden;">
                <h3 style="padding: 10px; margin: 0;
                 display: block; width: 100%; background: #222d32; color: #eeeeee;"> کالاهای اخیرا ثبت شده </h3>
                <div class="row" style="background: white; overflow-x: scroll; display: flex; margin: 0;">
                    {% for product in object_list_recent %}

                    <div class='col-md-4'
                         style="float: right; width: 300px;">
                        <div class="box box-default">
                            <div class="info-box">
                                <a href={{product.url}}><span class="info-box-icon"><img src={{product.image.url}}
                                                                                         class="img-circle"
                                                                                         alt={{product.name}}></span></a>
                                <div class="info-box-content">
                                        <span class="info-box-number"><a
                                                href={{product.url}}>{{product.name}}</a></span>
                                    <span class="info-box-text">{{product.price}} تومان</span>
                                    <span class="info-box-text">{{product.location}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if object_list_trending%}
            <div style="width: 90%; margin: 10px auto; border: 1px solid; border-radius: 10px; overflow: hidden;">
                <h3 style="padding: 10px; margin: 0;
                 display: block; width: 100%; background: #222d32; color: #eeeeee;"> کالاهای پربازدید </h3>
                <div class="row" style="background: white; overflow-x: scroll; display: flex; margin: 0;">
                    {% for product in object_list_trending %}

                    <div class='col-md-4' style="float: right; width: 300px;">
                        <div class="box box-default">
                            <div class="info-box">
                                <a href={{product.url}}><span class="info-box-icon"><img src={{product.image.url}}
                                                                                         class="img-circle"
                                                                                         alt={{product.name}}></span></a>
                                <div class="info-box-content">
                                    <span class="info-box-number"><a href={{product.url}}>{{product.name}}</a></span>
                                    <span class="info-box-text">{{product.price}} تومان</span>
                                    <span class="info-box-text">{{product.location}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if object_list_new %}
            <div style="width: 90%; margin: 10px auto; border: 1px solid; border-radius: 10px; overflow: hidden;">
                <h3 style="padding: 10px; margin: 0;
                 display: block; width: 100%; background: #222d32; color: #eeeeee;"> کالاهای کاملا نو </h3>
                <div class="row" style="background: white; overflow-x: scroll; display: flex;
                    margin: 0;">
                    {% for product in object_list_new %}
                    <div class='col-md-4' style="float: right; width: 300px;">
                        <div class="box box-default">
                            <div class="info-box">
                                <a href={{product.url}}><span class="info-box-icon"><img src={{product.image.url}}
                                                                                         class="img-circle"
                                                                                         alt={{product.name}}></span></a>
                                <div class="info-box-content">
                                    <span class="info-box-number"><a href={{product.url}}>{{product.name}}</a></span>
                                    <span class="info-box-text">{{product.price}} تومان</span>
                                    <span class="info-box-text">{{product.location}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            </div>
            <div class='col-md-12' style="float: right; width: 20%; padding: 0; margin: 0;">            
            <div id="container" style="position: relative;">
                <div id="header">
                    {% if adv1 != Null %}
            <div style="display: block; width: 100%; display: flow-root; margin: 10px;">
                <div style="display: inline-block; float: left;margin-left: 20px; margin-top: 0px;
         border: 1px solid; border-radius: 5px; z-index: 2; overflow: hidden;">
                    <div class='col-md-4' style="float: right; width: 300px; padding: 0; margin: 0;">
                        <div class="box box-default" style="padding: 0; margin: 0;">
                            <div class="info-box" style="padding: 0; margin: 0;">
                                <a href={{adv1.product.url}}><span class="info-box-icon"><img
                                        src={{adv1.product.image.url}}></span></a>
                                <div class="info-box-content">
                                    <span class="info-box-number"><a href={{adv1.product.url}}>{{adv1.product.name}}</a></span>
                                    <span class="info-box-text">{{adv1.product.price}} تومان</span>
                                    <span class="info-box-text">{{adv1.product.location}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
                </div>
                <div id="body">
                    <div style="height:330px;">

                    </div>
                </div>
                <div id="footer">
                    {% if adv2 != Null %}                    
            <div style="display: block; width: 100%; display: flow-root; margin: 10px;">
                <div style="display: inline-block; float: left;margin-left: 20px; margin-top: 0px;
         border: 1px solid; border-radius: 5px; z-index: 2; overflow: hidden;">
                    <div class='col-md-4' style="float: right; width: 300px; padding: 0; margin: 0;">
                        <div class="box box-default" style="padding: 0; margin: 0;">
                            <div class="info-box" style="padding: 0; margin: 0;">
                                <a href={{adv2.product.url}}><span class="info-box-icon"><img
                                        src={{adv2.product.image.url}}></span></a>
                                <div class="info-box-content">
                                    <span class="info-box-number"><a href={{adv2.product.url}}>{{adv2.product.name}}</a></span>
                                    <span class="info-box-text">{{adv2.product.price}} تومان</span>
                                    <span class="info-box-text">{{adv2.product.location}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
                </div>
             </div>
        </div>
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <footer class="main-footer">
        <div class="container">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.2.0
            </div>
            <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All
            rights reserved.
        </div><!-- /.container -->
    </footer>
</div><!-- ./wrapper -->

{% block scripts %}
<!-- jQuery 2.1.4 -->
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js"%}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
{% endblock scripts %}
</body>
</html>
