{% if user.is_authenticated %}
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'landing:landing' %}">صفحه اصلی</a></li>
                <li><a href="{% url 'landing:search' categoryid=0 %}">جست‌وجو</a></li>
                <li><a href="{% url 'product:create-product' %}">ایجاد کالای جدید</a></li>
                {% if notif_count != "۰" %}
                <li><a href="{% url 'notification:notifications' %}"> اعلان‌ها<span class="label label-danger">{{notif_count}}</span>
                </a></li>
                {% else %}
                <li><a href="{% url 'notification:notifications' %}">اعلان‌ها</a></li>
                {% endif %}
                <li><a href="{% url 'registeration:referral-code' %}">دریافت کد معرفی</a></li>
                <li><a href="{% url 'dashboard:dashboard' %}">{{user.first_name}} خوش آمدی!</a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'registeration:logout' %}">خروج</a></li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</header>
{% else %}
<header class="main-header">
    <nav class="navbar navbar-static-top">
        <div class="collapse navbar-collapse pull-right" id="navbar-collapse">
            <ul class="nav navbar-nav">

                <li><a href="{% url 'landing:landing' %}">سخوف</a></li>
                <li><a href="{% url 'registeration:login' %}">ورود</a></li>
                <li><a href="{% url 'registeration:register' %}">ثبت نام</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</header>
{% endif %}
