{% extends "landing/landing.html" %}
{% load static staticfiles %}
{% load template_tags %}

{% block head %}
<meta charset="UTF-8">
<title>سخوف | جستجو</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.4 -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/bootstrap/css/bootstrap.min.css" %}'>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->


<!-- daterange picker -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker-bs3.css" %}'>
<!-- iCheck for checkboxes and radio inputs -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/iCheck/all.css" %}'>
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/colorpicker/bootstrap-colorpicker.min.css" %}'>
<!-- Bootstrap time Picker -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/timepicker/bootstrap-timepicker.min.css" %}'>
<!-- Select2 -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/select2/select2.min.css" %}'>
<!-- Theme style -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/AdminLTE.min.css" %}'>
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/skins/_all-skins.min.css" %}'>
{% endblock head %}

</head>

{% block search %}

<form name="search-form" method="GET" action="{% url 'landing:search' selected_category %}" style="float:right"  novalidate>
    <div class="form-group">
        <div class="box-body">
            <div class="row">
                <div class="input-group margin">

                    <input style="float:right" type="text" class="form-control" id="q" name="q"
                           placeholder="محصول مورد نظر خود را جستجو کنید..." VALUE={{request.GET.q}}
                    >
                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit">بگرد!</button>
                    </div><!-- /btn-group -->
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h5 style="display: inline-block">از قیمت</h5>
                    <input style="float:right " type="number" class="form-control" id="min-price"
                           name="minimumprice"
                           placeholder="از قیمت"
                           value={{request.GET.minimumprice}}>
                    <div>
                        <h5 style="display: inline-block">تا قیمت</h5>
                        <input type="number" class="form-control" id="max-price" name="maximumprice"
                               placeholder="تا قیمت"
                               value={{request.GET.maximumprice}}></div>
                </div>
                <div class="col-md-4">
                    <h5 style="display: inline-block">تگ ها</h5>

                    <select class="form-control select2" multiple="multiple" name='tags'>
                        {% for tag in tags %}
                        {% if tag.name in request.GET|get_list:'tags' %}
                        <option selected>{{tag.name}}</option>
                        {% else %}
                        <option>{{tag.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <h5 style="display: inline-block">جنس</h5>

                    <input style="float:right" type="text" class="form-control" name="material"
                           placeholder="مانند چرم، کتان، چوب،..." VALUE={{request.GET.material}}
                    >
                    <br>
                    <h5 style="display: inline-block">وضعیت کالا</h5>
                    <select class="form-control" data-placeholder="وضعیت" id="status_id"
                            style="width: 200px; padding:0 120px;" name="product_status">
                        {% for key,val in statuses.items %}
                        {% if request.GET %}
                        {% if key|slugify == request.GET.product_status %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>

                </div>
                <div class="col-md-4">
                    <h5 style="display: inline-block">استان</h5>

                    <select class="form-control" data-placeholder="استان"
                            style="width: 100%;" name="state">
                        {% for key,val in states.items %}
                        {% if request.GET %}
                        {% if key|slugify == request.GET.state %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% else %}
                        {% if key == 0 %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </select>
                    <h5 style="display: inline-block">شهر</h5>

                    <select class="form-control" data-placeholder="شهر"
                            style="width: 100%;" name="city">
                        {% for key,val in cities.items %}
                        {% if request.GET %}
                        {% if key|slugify == request.GET.city %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% else %}
                        {% if key == 0 %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </select>
                    <h5 style="display: inline-block">محله</h5>

                    <select class="form-control" data-placeholder="محله" style="width: 100%;" name="district">
                        {% for key,val in districts.items %}
                        {% if request.GET %}
                        {% if key|slugify == request.GET.district %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% else %}
                        {% if key == 0 %}
                        <option value={{key}} selected>{{val}}</option>
                        {% else %}
                        <option value={{key}}>{{val}}</option>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock search %}
{% block items %}
<div class="row">
        {% if object_list %}
        {% for product in object_list %}
        {% if forloop.counter0|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        <div class='col-md-4'>
            <div class="box box-default">
                <div class="info-box">
                    <a href={{product.url}}><span class="info-box-icon"><img src={{product.image.url}}
                                                                             class="img-circle"
                                                                             alt={{product.name}}></span></a>
                    <div class="info-box-content">
                        <span class="info-box-number"><a href={{product.url}}>{{product.name}}</a></span>
                        <span class="info-box-text">{{product.price}} تومان</span>
                        <span class="info-box-text">{{product.location}}</span>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h3>نتیجه‌ای پیدا نشد.</h3>
        {% endif %}
    </div>
            {% endblock items %}

{% block scripts %}
<!-- jQuery 2.1.4 -->
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- Select2 -->
<script src='{% static "AdminLTE-RTL/plugins/select2/select2.full.min.js" %}'></script>
<!-- InputMask -->
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker.js" %}'></script>
<!-- bootstrap color picker -->
<script src='{% static "AdminLTE-RTL/plugins/colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<!-- bootstrap time picker -->
<script src='{% static "AdminLTE-RTL/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>
<!-- SlimScroll 1.3.0 -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<!-- Page script -->
<script>
function generete_city_url(id){
    return "{% url "location:get_cities" state_id=0 %}".replace("0", id);
}
function generete_district_url(id){
    return "{% url "location:get_districts" city_id=0 %}".replace("0", id);
}
$(document).ready(function(){
    $('select[name=state]').change(function(){
        state = $(this).val();

            var request_url =generete_city_url(state);
            $('select[name=city]').find('option').remove()
            $.ajax({
            url: request_url,
            success: function(data){
                $.each(data, function(index, text){
                    if (index == 0){
                        $('select[name=city]').append(
                         $('<option selected></option>').val(index).html(text)
                     );
                    }
                    else{
                    $('select[name=city]').append(
                         $('<option></option>').val(index).html(text)
                     );
                    }
                });
            }
            });

        return false;
    })
        $('select[name=city]').change(function(){
            city = $(this).val();

            var request_url =generete_district_url(city);
            $('select[name=district]').find('option').remove()
            $.ajax({
            url: request_url,
            success: function(data){
                $.each(data, function(index, text){
                    if (index == 0){
                        $('select[name=district]').append(
                         $('<option selected></option>').val(index).html(text)
                     );
                    }
                    else{
                        $('select[name=district]').append(
                         $('<option></option>').val(index).html(text)
                     );
                    }
                    
                });
            }
            });

        return false;
    })
    });
$(function () {
    $(".select2").select2();

});



























</script>
{% endblock scripts %}
