<!-- transactions : transactions -->
{% extends "dashboard/mother_panel_product.html" %}
{% load static staticfiles %}


{% block title %}
ایجاد مزایده
{% endblock title %}

<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>ایجاد مزایده</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}
</header>
{% block main_content %}

<div class="col-xs-6">
    <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
        <table class="table">
            <tbody>
            {% for field in form %}
                <tr>
                    <th><label for="id_name">{{ field.label_tag }}</label></th>
                    <td>
                        {% if field.errors %}
                          <ul>
                            {% for error in field.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                          <br />{{ field.help_text }}
                        {% endif %}
                      </td>
                </tr>
                {% endfor %}
                {% if form.non_field_errors %}
                <ul>
                    {{ form.non_field_errors.as_ul }}
                </ul>
                {% endif %}
            </table>


        <input type="submit" class="btn btn-success" value="ثبت">
    </form>
</div>

{% endblock main_content %}
{% block scripts %}
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- Select2 -->
<script src='{% static "AdminLTE-RTL/plugins/select2/select2.full.min.js" %}'></script>
<!-- InputMask -->
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<!-- bootstrap color picker -->
<script src='{% static "AdminLTE-RTL/plugins/colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<!-- bootstrap time picker -->
<script src='{% static "AdminLTE-RTL/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/datepicker/bootstrap-datepicker.js" %}'></script>
<!-- SlimScroll 1.3.0 -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<script>
$(function () {
//Initialize Select2 Elements
$('.select2').select2()

//Datemask dd/mm/yyyy
$('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
//Datemask2 mm/dd/yyyy
$('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })

$('#auctiondatetime').datepicker()
//Date range as a button
$('#daterange-btn').daterangepicker(
{
ranges   : {
'Today'       : [moment(), moment()],
'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
'Last 30 Days': [moment().subtract(29, 'days'), moment()],
'This Month'  : [moment().startOf('month'), moment().endOf('month')],
'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
},
startDate: moment().subtract(29, 'days'),
endDate  : moment()
},
function (start, end) {
$('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
}
)

})


</script>
{% endblock scripts %}