<!-- transactions : transactions -->
{% extends "dashboard/mother_panel_product.html" %}
{% load static staticfiles %}


{% block title %}
پیام
{% endblock title %}

<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>پیام</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}

    {% endblock header %}

</header>

{% block sidebar %}
{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
{% block main_content %}
<section id="sec1" class="content" style="display: inline-block; position: fixed; top: 200px; width: 80%;">
    <div class="row">
        <div class="col-xs-14">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{message}}</h3><br>
                    <a href="{% url 'landing:landing' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">خانه</a>
                    <a href="{% url 'dashboard:dashboard' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">بازگشت</a>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>

</section>
{% endblock main_content %}