{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}
{% load template_tags %}

{% block title %}
اعلان
{% endblock title %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>اعلان</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}
</header>

{% block main_content %}

<div class="tab-pane active" id="timeline" dir="rtl">
    <!-- The timeline -->
    <ul class="timeline timeline-inverse"  dir="rtl">
      <!-- timeline item -->
      <li>
        <i class="fa fa-envelope bg-blue"></i>

        <div class="timeline-item">
          

          <h3 class="timeline-header">
                توسط <a href="#">
              {% if message.sender_user %}
              {{message.sender_user.username}}
              {% else %}
              سامانه
              {% endif %}
            </a>
            </h3>

          <div class="timeline-body">
              موضوع:
              {{message.title}}
              <br>
              {{message.text}}
          </div>
          <div class="timeline-footer">
            <a class="btn btn-primary btn-xs">{{ message.sent_date|jformat}}</a>
          </div>
        </div>
      </li>

    </ul>
  </div>

{% if message.sender_user %}
<div class="row">
    <div class="box-body no-padding">
        <form method="post"  novalidate>{% csrf_token %}
          <table class="table">
            <tbody>
            {% for field in form %}
                <tr>
                    <th><label for="id_name">{{ field.label_tag }}</label></th>
                    <td>
                        {% if field.errors %}
                          <ul>
                            {% for error in field.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                          <br />{{ field.help_text }}
                        {% endif %}
                      </td>
                </tr>
                {% endfor %}
                {% if form.non_field_errors %}
                <ul>
                    {{ form.non_field_errors.as_ul }}
                </ul>
                {% endif %}
            </table>
            <input type="submit" value="ارسال">
        </form>
    </div>
</div>
{% endif %}
{% endblock main_content %}
