{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}
{% load template_tags %}
{% block title %}
اعلان‌های من
{% endblock title %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>اعلان‌های من</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}
</header>
{{ news.description|truncatewords:10 }}

{% block main_content %}

<div class="tab-pane active" id="timeline" dir="rtl">
    <!-- The timeline -->
    <ul class="timeline timeline-inverse" dir="rtl">
        <!-- timeline item -->
        {% if object_list %}
        {% for notification in object_list %}
        <li>
            <i class="fa fa-envelope bg-blue"></i>

            <div class="timeline-item">


                <h3 class="timeline-header">توسط <a href="../profile/{{notification.sender_user.username}}">{{notification.sender_user.username}} </a>
                    به
                    <a href="./profile/{{notification.user.username}}">{{notification.user.username}} </a></h3>

                <div class="timeline-body">
                    موضوع:{{notification.title}}
                    <br>
                    {{notification.text|truncatewords:10 }}
                    {{ notification.send_date|jformat}}
                </div>
                <div class="timeline-footer">
                    <a href={{notification.url}}><span class="label label-danger">مشاهدهٔ کامل پیام
                        {% if notification.sender_user %}
                        و پاسخ
                        {% endif %}
                </span></a>
                    <span class="label label-primary">{{ notification.sent_date|jformat}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <h2>اعلانی وجود ندارد.</h2>
        {% endif %}
    </ul>
</div>

{% endblock main_content %}
