{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
خریدهای من
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="row" style="margin: 0;">
        <div class="col-xs-14">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">کالاهای خریداری شده من</h3>

                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered table-striped" name="myproducts-table">
                        <thead>
                        <tr>
                            <th>نام کالا</th>
                            <th>قیمت</th>
                            <th>تعداد</th>
                            <th>عکس</th>
                            <th>وضعیت</th>
                            <th>اقدام</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in products %}
                        {{p.product.is_auction}}
                        <tr>
                            <td>
                                <a href="{{p.product.url}}">{{p.product.name}}</a>
                            </td>
                            <td>{{p.product.price}}</td>
                            <td>{{p.product.quantity}}</td>
                            <td><img src="{{p.product.image.url}}" style="width: 120px"></td>
                            {% if p.product.is_auction %}
                            <td>{{p.product.auction.status}}</td>
                            {% else %}
                            <td>موفق</td>
                            {% endif %}
                            {% if p.product.is_auction and p.product.auction.status == "در انتظار تحویل"%}
                            <td>
                                <a href='{% url "auction:recieved" p.product.auction.id%}'>
                                    <button type="button" class="btn btn-info">اعلام دریافت</button>
                                </a>
                            </td>
                            {% else %}
                            {% if p.product.is_auction and p.product.auction.status == "در انتظار پرداخت"%}
                            <td>
                                <a href='{% url "auction:pay" p.product.auction.id%}'>
                                    <button type="button" class="btn btn-info">پرداخت</button>
                                </a>
                                <a href='{% url "auction:decline-pay" p.product.auction.id%}'>
                                    <button type="button" class="btn btn-info">انصراف</button>
                                </a>
                            </td>
                            {% else %}
                            {% if p.product.is_auction and p.product.auction.status == "در انتظار دریافت"%}
                            <td>
                                <a href='{% url "auction:recieved" p.product.auction.id%}'>
                                    <button type="button" class="btn btn-info">دریافت شد</button>
                                </a>
                            </td>
                            {% else %}
                            <td>---</td>
                            {% endif %}
                            {% endif %}
                            {% endif %}
                            <!--<td>{{p.image}}</td>-->
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    {% include "dashboard/down_adv.html" %}
</div>
{% endblock main_content %}
