{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
پنل کاربر
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="box box-success" style="width:60%">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="fa  fa-user"></i>

            <h3 class="box-title">مشخصات فردی</h3>
        </div>
        <div style="display: flow-root; height: 100%;">

            <div class="row">
                <div class="col-xs-8">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                            <h5>نام : {{ user.first_name }}</h5>
                            <h5>نام خانوادگی : {{ user.last_name }}</h5>
                            <h5>ایمیل : {{ user.email }}</h5>
                            <h5>نشانی‌ها</h5>
                            <ul>
                                {% for loc in locations %}
                                <li>{{loc}}</li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'registeration:edit_profile' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">ویرایش اطلاعات</a>
                            <a href="{% url 'registeration:change_password' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center">تغییر کلمه عبور</a>
                        </div>

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
    {% include "dashboard/down_adv.html" %}
</div>

{% endblock main_content %}
