{% block down_adv %}
{% if adv2 != Null %}
<div style="display: block; width: 100%; display: flow-root; margin: 10px;">
    <div style="display: inline-block; float: left;margin-left: 20px; margin-top: 0px;
         border: 1px solid; border-radius: 5px; z-index: 2; overflow: hidden;">
        <div class='col-md-4' style="float: right; width: 300px; padding: 0; margin: 0;">
            <div class="box box-default" style="padding: 0; margin: 0;">
                <div class="info-box" style="padding: 0; margin: 0;">
                    <a href={{adv2.product.url}}><span class="info-box-icon"><img src={{adv2.product.image.url}}></span></a>
                    <div class="info-box-content">
                        <span class="info-box-number"><a href={{adv2.product.url}}>{{adv2.product.name}}</a></span>
                        <span class="info-box-text">{{adv2.product.price}} تومان</span>
                        <span class="info-box-text">{{adv2.product.location}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock down_adv %}