{% extends "dashboard/user_panel_profile.html" %}
{% load static staticfiles %}

{% block content_header_text %}
<h1>
    <small>پنل کاربر</small>
</h1>
{% endblock content_header_text %}

{% block content_header_link %}
<li>

</li>
{% endblock content_header_link %}

{% block side_bar %}
{% include "dashboard/sidebar.html" %}
{% endblock side_bar %}