{% extends "dashboard/user_panel_error.html" %}
{% load static staticfiles %}

<!--{% comment %}-->
<!--&lt;!&ndash;-->
<!--{% block notifications %}-->
<!--'{% url "employee:notifications" %}'-->
<!--{% endblock notifications %}-->
<!--&ndash;&gt;-->
<!--{% endcomment %}-->
<!--{% block content_header_text %}-->
<!--<h1>-->
    <!--<small>پنل کاربر</small>-->
<!--</h1>-->
<!--{% endblock content_header_text %}-->

<!--{% block content_header_link %}-->
<!--<li>-->
    <!--<a href="{%url 'dashboard:dashboard' %}">-->
        <!--<i class="fa fa-dashboard"></i> پیشخوان</a>-->
<!--</li>-->
<!--{% endblock content_header_link %}-->

{% block side_bar %}
<!--{% include "dashboard/sidebar.html" %}-->
{% endblock side_bar %}