{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
کالاهای تبلیغ‌شده من
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="row" style="margin: 0;">
        <div class="col-xs-14">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">لیست تبلیغات</h3>

                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="table6" class="table table-bordered table-striped" name="adv-table">
                        <thead>
                        <tr>
                            <th> نام کالا</th>
                            <th>مکان</th>
                            <th>صفحه</th>
                            <th>تعداد روز خریداری شده</th>
                            <th>تاریخ شروع</th>
                            <th>زمان شروع</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in advertisements %}
                        <tr>
                            <td><a href="{{product.product.url}}">{{product.product.name}}</a></td>
                            <td>{{product.place}}</td>
                            <td>{{product.page}}</td>
                            <td>{{product.period}} روز -{{product.hours}} ساعت - {{product.minutes}} دقیقه</td>
                            <td>{{product.date.date}}</td>
                            <td>{{product.date.time}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    {% include "dashboard/down_adv.html" %}
</div>

{% endblock main_content %}
