{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
کالاهای من
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}

<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="row" style="margin: 0;">
        <div class="col-xs-14">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">کالاهای من</h3>

                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <a href="{% url 'product:create-product' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center; margin-bottom: 10px">ساخت کالای جدید</a>
                    <table id="table3" class="table table-bordered table-striped" name="myproducts-table">
                        <thead>
                        <tr>
                            <th>نام کالا</th>
                            <th>قیمت</th>
                            <th>تعداد</th>
                            <th>عکس</th>
                            <th>وضعیت</th>
                            <th>تایید دریافت</th>
                            <th>وضعیت تبلیغ</th>
                            <th>تبلیغ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in ps %}
                        <tr>
                            <td>
                                <a href="{{p.url}}">{{p.name}}</a>
                            </td>
                            <td>{{p.price}}</td>
                            <td>{{p.quantity}}</td>
                            <td><img src="{{p.image.url}}" style="width: 120px"></td>
                            <!--<td>{{p.image}}</td>-->

                            {% if p.is_auction %}
                            <td>{{p.auction.status}}</td>
                            {% else %}
                            <td>موفق</td>
                            {% endif %}
                            {% if p.is_auction and p.auction.status == "در انتظار فرستادن"%}
                            <td>
                                <a href='{% url "auction:send" p.auction.id%}'>
                                    <button type="button" class="btn btn-info">ارسال</button>
                                </a>
                                <a href='{% url "auction:decline-send" p.auction.id%}'>
                                    <button type="button" class="btn btn-info">انصراف</button>
                                </a>
                            </td>
                            {% else %}
                            <td>---</td>
                            {% endif %}
                            <td>
                                {% for adv in advertisements %}
                                {% if adv.product.id == p.id %}
                                <h5>{{adv.period}}روز و {{adv.hours}}ساعت و {{adv.minutes}}دقیقه در {{adv.place}}
                                    {{adv.page}}</h5>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'advertisement:create_advertisement' p.id %}">تبلیغ</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    {% include "dashboard/down_adv.html" %}
</div>

{% endblock main_content %}
