{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
آرزوهای من
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="row" style="margin: 0;">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">آرزوهای کاربر</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <a href="{% url 'wishlist:create-wishlist' %}" style="text-decoration: none;
                      width: 150px; display: inline-block; color: #eeeeee; background: #674338; margin-top: 10px;
                      border-radius: 10px; text-align: center; margin-bottom:10px">افزودن به لیست آرزوها</a>
                <table id="table5" class="table table-bordered table-striped" name="wishlist-table">
                    <thead>
                    <tr>
                        <th>نام</th>
                        <th>دسته بندی</th>
                        <th>بازه قیمت</th>
                        <th>محل</th>
                        <th>تگ ها</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in wishlist %}
                    <tr>
                        <td>{{product.text|default_if_none:"--" }}</td>
                        <td>{{product.category|default_if_none:"--" }}</td>
                        <td>{{product.min_price|default_if_none:"--" }},{{product.max_price|default_if_none:"--" }}</td>
                        <td>{{product.state|default_if_none:"--" }},{{product.city|default_if_none:"--"
                            }},{{product.district|default_if_none:"--" }}
                        </td>
                        <td>{% for tag in product.tags.all %}
                            {{ tag.name|default_if_none:"--" }},
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>    <!-- /.box-body -->
        </div>
    </div>
    {% include "dashboard/down_adv.html" %}
</div>

{% endblock main_content %}
