{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
پنل کاربر
{% endblock title %}

{% block content_header_text %}
<h1>پنل کاربر</h1>
{{ block.super }}
{% endblock content_header_text %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="box box-success" style = "width:60%">
  <div class="box-header ui-sortable-handle" style="cursor: move;">
    <i class="fa  fa-user"></i>

    <h3 class="box-title">مشخصات فردی</h3>
  </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <h5>نام : {{ user.first_name }}</h5>
                    <h5>نام خانوادگی : {{ user.last_name }}</h5>
                    <h5>استان : {{ user.state }}</h5>
                    <h5>شهر : {{ user.city }}</h5>
                    <h5>محله : {{ user.district }}</h5>
                    <h5>ایمیل : {{ user.email }}</h5>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>
<!-- /.content -->
{% endblock main_content %}

{% block scripts %}
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- DataTables -->
<script src='{% static "AdminLTE-RTL/plugins/datatables/jquery.dataTables.min.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/datatables/dataTables.bootstrap.min.js" %}'></script>
<!-- SlimScroll -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- page script -->
<script>
  $(document).ready(function () {
    // Setup - add a text input to each footer cell
    $('#table tfoot th').each(function () {
      var title = $(this).text();
      $(this).html('<input type="text" name="'+title+'" placeholder="Search ' + title + '" />');
    });

    // DataTable
    var table = $('#table').DataTable();

    // Apply the search
    table.columns().every(function () {
      var that = this;

      $('input', this.footer()).on('keyup change', function () {
        if (that.search() !== this.value) {
          that
            .search(this.value)
            .draw();
        }
      });
    });
  });

</script> {% endblock scripts %}