{% load static staticfiles %}
{% block sidebar %}
{% if user.is_authenticated %}
<br>
<br>
<li>
    <a href='{% url "dashboard:dashboard" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>پروفایل</span>
    </a>
</li>
<br>
<br>
<li>
    <a href='{% url "dashboard:wallet" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>کیف پول</span>
    </a>
</li>
<br>
<br>
<li>
    <a href='{% url "dashboard:transactions" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>تراکنش‌های من</span>
    </a>
</li>
<br>
<br>
<li>
    <a href='{% url "dashboard:bought_products" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>خریدهای من</span>
    </a>
</li>

<br>
<br>
<li>
    <a href='{% url "dashboard:my_products" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>کالاهای من</span>
    </a>
</li>

<br>
<br>
<li>
    <a href='{% url "dashboard:wishlist" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>آرزوهای من</span>
    </a>
</li>

<br>
<br>
<li>
    <a href='{% url "dashboard:myadvs" %}'>
        <em class="glyphicon glyphicon-chevron-left"></em>
        <span>تبلیغ‌های من</span>
    </a>
</li>
{% endif %}


{% endblock sidebar %}