{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
تراکنش‌های من
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="row" style="margin: 0;">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">تراکنش‌های من</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table2" class="table table-bordered table-striped" name="transactions-table">
                    <thead>
                    <tr>
                        <th>نوع تراکنش</th>
                        <th>کم شده از</th>
                        <th>افزوده شده به</th>
                        <th>میزان</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for req in requests %}
                    <tr>
                        <td>{{req.type}}</td>
                        {% if req.source_user is not None %}
                        <td>{{req.source_user}}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        {% if req.dest_user is not None %}
                        <td>{{req.dest_user}}</td>
                        {% else %}
                        <td>-</td>
                        {% endif %}
                        <td>{{req.amount}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <!--<tfoot>-->
                    <!--<tr>-->
                    <!--<th>شناسه تراکنش</th>-->
                    <!--<th>تاریخ تراکنش </th>-->
                    <!--<th>میزان</th>-->
                    <!--<th>وضعیت</th>-->
                    <!--</tr>-->
                    <!--</tfoot>-->
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    {% include "dashboard/down_adv.html" %}
</div>

{% endblock main_content %}
