{% block up_adv %}
{% if adv1.product != Null %}
<div style="display: block; width: 100%; display: flow-root; margin: 10px;">
    <div style="display: inline-block; float: left;margin-left: 20px; margin-top: 0px;
         border: 1px solid; border-radius: 5px; z-index: 2; overflow: hidden;">
        <div class='col-md-4' style="float: right; width: 300px; padding: 0; margin: 0;">
            <div class="box box-default" style="padding: 0; margin: 0;">
                <div class="info-box" style="padding: 0; margin: 0;">
                    <a href={{adv1.product.url}}><span class="info-box-icon"><img src={{adv1.product.image.url}}></span></a>
                    <div class="info-box-content">
                        <span class="info-box-number"><a href={{adv1.product.url}}>{{adv1.product.name}}</a></span>
                        <span class="info-box-text">{{adv1.product.price}} تومان</span>
                        <span class="info-box-text">{{adv1.product.location}}</span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<button id="ab" style="display: none">{{id}}</button>

{% endblock up_adv %}