{% load static staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title> {% block title %} پنل مدیریت {% endblock title %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.4 -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/bootstrap/css/bootstrap.min.css" %}'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons 2.0.0 -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/AdminLTE.min.css" %}'>
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/skins/_all-skins.min.css" %}'>
    <!-- iCheck -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/iCheck/flat/blue.css" %}'>
    <!-- Morris chart -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/morris/morris.css" %}'>
    <!-- jvectormap -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/jvectormap/jquery-jvectormap-1.2.2.css" %}'>
    <!-- Date Picker -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/datepicker/datepicker3.css" %}'>
    <!-- Daterange picker -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker-bs3.css" %}'>
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" %}'>

    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/fonts/fonts-fa.css" %}'>
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/bootstrap-rtl.min.css" %}'>
    <link rel="stylesheet" href='{% static "AdminLTE-RTL/dist/css/rtl.css" %}'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock head %}
</head>
<body class="skin-blue sidebar-mini" dir="rtl">
<div class="wrapper">

    <header class="main-header">
        {% block header %}
        <!-- Logo -->
        <a href='#' class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- logo for regular state and mobile devices --><strong>پنل مدیریت</strong><br>
        </a>
        {% block navbar %}

        {% include "landing/navbar.html" %}

        {% endblock navbar %}
        <!-- Header Navbar: style can be found in header.less -->
            {% endblock header %}
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user AdminLTE-RTL -->
            <div class="user-AdminLTE-RTL">
                <!--<div class="pull-right image">-->
                <!--{% block side_bar_photo %}-->
                <!--<img src = '{% static "AdminLTE-RTL/dist/img/user2-160x160.jpg" %}'  class="img-circle" alt="User Image">-->
                <!--{% endblock side_bar_photo %}-->
                <!--</div>-->
                <div class="pull-left info" style="width: 100%">
                    {% block side_bar_username %}
                    <!--{% comment %} <a href = '{% static "AdminLTE-RTL/pages/customer/user_details.html" %}'  name = "user-details">{{first_name}} {{last_name}}</a> {% endcomment %}-->


                    {% endblock side_bar_username %}

                </div>
            </div>
            <!-- deleted "search form" -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                {% block side_bar %}
                {% endblock side_bar %}
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="height:800px">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% block content_header_text %}

            {% endblock content_header_text %}
            <ol class="breadcrumb">
                {% block content_header_link %}

                {% endblock content_header_link %}
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            {% block main_content %}
            {% endblock main_content %}
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    {% block footer %}
    <footer class="main-footer">
        <div class="pull-left hidden-xs">
            <b>Version</b> 2.2.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
    {% endblock footer %}

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div><!-- ./wrapper -->

<!-- jQuery 2.1.4 -->
{% block scripts %}
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
      $.widget.bridge('uibutton', $.ui.button);



</script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src='{% static "AdminLTE-RTL/plugins/morris/morris.min.js" %}'></script>
<!-- Sparkline -->
<script src='{% static "AdminLTE-RTL/plugins/sparkline/jquery.sparkline.min.js" %}'></script>
<!-- jvectormap -->
<script src='{% static "AdminLTE-RTL/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %}'></script>
<!-- jQuery Knob Chart -->
<script src='{% static "AdminLTE-RTL/plugins/knob/jquery.knob.js" %}'></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker.js" %}'></script>
<!-- datepicker -->
<script src='{% static "AdminLTE-RTL/plugins/datepicker/bootstrap-datepicker.js" %}'></script>
<!-- Bootstrap WYSIHTML5 -->
<script src='{% static "AdminLTE-RTL/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" %}'></script>
<!-- Slimscroll -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src='{% static "AdminLTE-RTL/dist/js/pages/dashboard.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>

<script>
      function clicked(){
          $(document).getElementById("a1").style.display = "none";
          $(document).getElementById("a2").style.display = "none";
          $(document).getElementById("a1").style.display = "inline-block";
        }
        $(document).getElementById("a1").style.display = "inline-block";



</script>
{% endblock scripts %}
</body>
</html>
