{% extends "dashboard/user_panel.html" %}
{% load static staticfiles %}


{% block title %}
کیف پول
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}

{% block main_content %}
<div class="row" style="margin: 0;">
    {% include "dashboard/up_adv.html" %}
    <div class="row" style="margin: 0;">
        <div class="box box-success" style="width:60%">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="fa fa-credit-card"></i>

                <h3 class="box-title">شارژ</h3>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="box">
                        <div class="box-header">
                            <h5>اعتبار : {{ user.credit }}</h5>
                            <h5>
                                <form method="post">
                                    {% csrf_token %}
                                    <h5>افزایش اعتبار به مبلغ:</h5>
                                    <input name="credit-input" type="number">&nbsp;&nbsp;&nbsp;&nbsp; تومان
                                    <input type="submit" class="btn btn-success" value="شارژ">

                                </form>

                            </h5>


                        </div>

                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
        </div>
    </div>
    {% include "dashboard/down_adv.html" %}
</div>
{% endblock main_content %}
