{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}


{% block title %}
خرید کالا
{% endblock title %}
<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>خرید</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}
</header>

{% block main_content %}

<div class="row">
    <div class='col-md-6'>
        <div class='box'>
            <table class="table">
                <tbody>
                <tr>
                    <th>فروشنده</th>
                    <td>{{product.creator}}</td>
                </tr>
                <tr>
                    <th>تعداد باقی‌مانده</th>
                    <td>{{product.remaining}}</td>
                </tr>
                <tr>
                    <th>قیمت</th>
                    <td>{{product.price}}</td>
                </tr>
                <tr>
                    <th>دسته</th>
                    <td>{{product.category.name}}</td>
                </tr>
                <tr>
                    <th>مکان</th>
                    <td>{{product.location}}</td>
                </tr>
                <tr>
                    <th>توضیحات</th>
                    <td>{{product.description}}</td>
                </tr>
                </tbody>
            </table>


        </div>
        <!-- general form elements -->

        {% if product.remained %}
        <div class="box box-primary">
            <form class='form-control' method="get" novalidate>
                <label for="selectq"> تعداد درخواستی </label>
                <select name='quantity' id="selectq">
                    {% for i in range %}
                    <option> {{i}}</option>
                    {% endfor %}
                </select>
                <input hidden name="prod" type="number" value="{{product.id}}">
                <input hidden name="seller" type="number" value={{seller.id}}>
                <input hidden name="buyer" type="number" value={{user.id}}>
                <button type="submit" class="btn btn-info"> خرید</button>
            </form>

        </div>
        {% endif %}

    </div>
    {% if request.GET.quantity %}
    <div class="row">
        {% if is_error %}
        <div class="callout callout-danger">
            <h4>خطا!</h4>
            <p>
                {{message}}
            </p>
        </div>
        {% else %}
        <div class="callout callout-success">
            <h4>انجام خرید</h4>
            <p>
                {{message}}
            </p>
        </div>
        {% endif %}
    </div>
    {% endif %}

    {% endblock main_content %}


