<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}


{% block title %}
مقایسهٔ کالا
{% endblock title %}

{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>مقایسهٔ کالا</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}
</header>

{% block main_content %}
<div class="col-xs-6">
    <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
        <table class="table">
            <tbody>
            {% for field in form %}
                <tr>
                    <th><label for="id_name">{{ field.label_tag }}</label></th>
                    <td>
                        {% if field.errors %}
                          <ul>
                            {% for error in field.errors %}
                              <li>{{ error }}</li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                          <br />{{ field.help_text }}
                        {% endif %}
                      </td>
                </tr>
                {% endfor %}
                {% if form.non_field_errors %}
                <ul>
                    {{ form.non_field_errors.as_ul }}
                </ul>
                {% endif %}
            </table>
        <input type="submit" value="مقایسه کن">
    </form>
</div>
<div class="row">
    <div class="col-xs-12">
        <div>
            <table class="table">
                <tbody>
                <tr>
                        <td></td>
                    <td><img src="{{ product1.image.url }}"></td>
                    <td><img src="{{ product2.image.url }}"></td>
                </tr>
                <tr>
                    <th>نام</th>
                    <td>{{product1.name}}</td>
                    <td>{{product2.name}}</td>
                </tr>
                <tr>
                    <th>فروشنده</th>
                    <td>{{product1.creator}}</td>
                    <td>{{product2.creator}}</td>
                </tr>
                <tr>
                    <th>تعداد باقی‌مانده</th>
                    <td>{{product1.quantity}}</td>
                    <td>{{product2.quantity}}</td>
                </tr>
                <tr>
                    <th>قیمت</th>
                    <td>{{product1.price}}</td>
                    <td>{{product2.price}}</td>
                </tr>
                <tr>
                    <th>دسته</th>
                    <td>{{product1.category.name}}</td>
                    <td>{{product2.category.name}}</td>
                </tr>
                <tr>
                    <th>جنس</th>
                    <td>{{product1.material}}</td>
                    <td>{{product2.material}}</td>
                </tr>
                <tr>
                    <th>وضعیت</th>
                    <td>{{product1.product_state}}</td>
                    <td>{{product2.product_state}}</td>
                </tr>
                <tr>
                    <th>مکان</th>
                    <td>{{product1.location}}</td>
                    <td>{{product2.location}}</td>
                </tr>
                <tr>
                    <th>توضیحات</th>
                    <td>{{product1.description}}</td>
                    <td>{{product2.description}}</td>
                </tr>
                <tr>
                    <th>برچسب‌ها</th>
                    <td>{% for tag in product1.tags.all %}
                        {{ tag.name }},
                        {% endfor %}
                    </td>
                    <td>{% for tag in product2.tags.all %}
                        {{ tag.name }},
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main_content %}


