<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}


{% block title %}
ایجاد کالا
{% endblock title %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <!-- logo for regular state and mobile devices --><strong>ایجاد کالا</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}
</header>
{% block main_content %}
<div style="display: flow-root">
    <div class="row">
        <div class="col-xs-6">
            <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th><label for="id_name">محصول</label></th>
                        <td>
                            {% if form.name.errors %}
                            <ul>
                                {% for error in form.name.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.name}}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_auction">مزایده</label></th>
                        <td>
                            {% if form.is_auction.errors %}
                            <ul>
                                {% for error in form.is_auction %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.is_auction}}
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <th><label for="id_price">قیمت</label></th>
                        <td>
                            {% if form.price.errors %}
                            <ul>
                                {% for error in form.price.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.price}}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_quantity">تعداد</label></th>
                        <td>
                            {% if form.quantity.errors %}
                            <ul>
                                {% for error in form.quantity.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.quantity}}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_description">توضیحات</label></th>
                        <td>
                            {% if form.description.errors %}
                            <ul>
                                {% for error in form.description.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.description}}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_category_1">دسته‌بندی سطح اول</label></th>
                        <td>
                            <select class="form-control" data-placeholder="دسته‌بندی سطح اول"
                                    style="width: 100%;" name="first_category" id="id_category_1">
                                <option></option>
                                {% for key,val in first_category.items %}
                                {% if key != 1 and key != 0 %}
                                <option value={{key}}>{{val}}</option>
                                {% endif %}
                                {% endfor %}
                                <option value=0>سایر</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_category_2">دسته‌بندی سطح دوم</label></th>
                        <td>
                            <select class="form-control" data-placeholder="دسته‌بندی سطح دو"
                                    style="width: 100%;" name="second_category" id="id_category_2">
                                <option></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_category_3">دسته‌بندی سطح سوم</label></th>
                        <td>
                            <select class="form-control" data-placeholder="دسته‌بندی سطح سه"
                                    style="width: 100%;" name="third_category" id="id_category_3">
                                <option></option>
                            </select>
                        </td>
                    </tr>
                    <tr id="id_suggested_new_categorytd" hidden>
                        <th><label>دسته پیشنهادی</label></th>
                        <td> {{form.suggested_new_category}}
                            <h5>در صورتی که به نظرتان دستهٔ مورد نظر شما در دسته‌های بالا موجود نبود نام دستهٔ مورد نظر
                                خود را وارد کنید.</h5>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_product_state">وضعیت</label></th>
                        <td>
                            {% if form.product_state.errors %}
                            <ul>
                                {% for error in form.product_state.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.product_state}}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_material">جنس</label></th>
                        <td>
                            {% if form.material.errors %}
                            <ul>
                                {% for error in form.material.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.material}}
                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_image">تصویر</label></th>
                        <td>
                            {% if form.image.errors %}
                            <ul>
                                {% for error in form.image.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.image}}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_tags">تگ‌ها</label></th>
                        <td>
                            {% if form.tags.errors %}
                            <ul>
                                {% for error in form.tags.errors %}
                                <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {{form.tags}}
                        </td>
                    </tr>
                    <tr>
                        <th>مکان</th>
                        <td>
                            <select class="form-control" data-placeholder="نشانی"
                                    style="width: 100%;" name="location">

                                {% for location in locations %}
                                {{location}}
                                <option>{{location}}</option>
                                {% endfor %}

                            </select>
                        </td>
                    </tr>
                    {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                        <li class="text-danger">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <tr>
                        <th><input type="submit" value="ساخت" class="btn btn-success" style="width:60px"></th>
                        <td>
                        </td>
                    </tr>
                </table>
                <br>


            </form>
        </div>
    </div>
</div>
{% endblock main_content %}
{% block scripts %}
<!-- jQuery 2.1.4 -->
<script src='{% static "AdminLTE-RTL/plugins/jQuery/jQuery-2.1.4.min.js" %}'></script>
<!-- Bootstrap 3.3.4 -->
<script src='{% static "AdminLTE-RTL/bootstrap/js/bootstrap.min.js" %}'></script>
<!-- Select2 -->
<script src='{% static "AdminLTE-RTL/plugins/select2/select2.full.min.js" %}'></script>
<!-- InputMask -->
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.date.extensions.js" %}'></script>
<script src='{% static "AdminLTE-RTL/plugins/input-mask/jquery.inputmask.extensions.js" %}'></script>
<!-- date-range-picker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script src='{% static "AdminLTE-RTL/plugins/daterangepicker/daterangepicker.js" %}'></script>
<!-- bootstrap color picker -->
<script src='{% static "AdminLTE-RTL/plugins/colorpicker/bootstrap-colorpicker.min.js" %}'></script>
<!-- bootstrap time picker -->
<script src='{% static "AdminLTE-RTL/plugins/timepicker/bootstrap-timepicker.min.js" %}'></script>
<!-- SlimScroll 1.3.0 -->
<script src='{% static "AdminLTE-RTL/plugins/slimScroll/jquery.slimscroll.min.js" %}'></script>
<!-- iCheck 1.0.1 -->
<script src='{% static "AdminLTE-RTL/plugins/iCheck/icheck.min.js" %}'></script>
<!-- FastClick -->
<script src='{% static "AdminLTE-RTL/plugins/fastclick/fastclick.min.js" %}'></script>
<!-- AdminLTE App -->
<script src='{% static "AdminLTE-RTL/dist/js/app.min.js" %}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{% static "AdminLTE-RTL/dist/js/demo.js" %}'></script>
<!-- Page script -->
<script>
function generete_url(id){
    return "{% url "product:get_category_childs_one_level" category_id=0 %}".replace("0", id);
}


$(document).ready(function(){
     $('select[name=third_category]').change(function(){
        third_category = $(this).val();
         console.log('im heeeere?!!')

            if (third_category != "0") {
                    $("#id_suggested_new_categorytd").hide();
                }else{
                    console.log('im heeeere')
                    $("#id_suggested_new_categorytd").show();
                }

        return false;
    })
    $('select[name=first_category]').change(function(){
        first_category = $(this).val();
            var request_url =generete_url(first_category);
            $('select[name=second_category]').find('option').remove()
            $('select[name=third_category]').find('option').remove()
            $('select[name=second_category]').append(
                 $('<option ></option>')
             );
            $.ajax({
            url: request_url,
            success: function(data){
            $.each(data, function(index, text){
            if (index != 1){
                if (index != 0){
                $('select[name=second_category]').append(
                 $('<option ></option>').val(index).html(text)
             );
             }
            }

             });
            }
            });

            $('select[name=second_category]').append(
                 $('<option></option>').val(0).html("سایر")
             );
        return false;
    })
    $('select[name=second_category]').change(function(){
        second_category = $(this).val();
            if (second_category != "0") {
                    $("#id_suggested_new_categorytd").hide();
                }else{
                    $("#id_suggested_new_categorytd").show();
                }
            var request_url =generete_url(second_category);
            $('select[name=third_category]').find('option').remove()
            $('select[name=third_category]').append(
                 $('<option ></option>')
             );
            $.ajax({
            url: request_url,
            success: function(data){
            $.each(data, function(index, text){
            if (index != 1){
                if (index != 0){
                $('select[name=third_category]').append(
                 $('<option ></option>').val(index).html(text)
             );
             }
            }

             });
            }
            });
            $('select[name=third_category]').append(
                 $('<option></option>').val(0).html("سایر")
             );
        return false;
    })

    });
$(function () {
    $(".select2").select2();

});


















</script>
{% endblock scripts %}
