<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}
{% load template_tags %}

<title>سخوف | خانه</title>
{% block title %}
جزئیات کالا
{% endblock title %}


{% block sidebar %}

{% include "dashboard/sidebar.html" %}

{% endblock sidebar %}
<header class="main-header">
    {% block header %}
    <!-- Logo -->
    <a href='#' class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices --><strong>جزئیات کالا</strong><br>
    </a>
    {% block navbar %}

    {% include "landing/navbar.html" %}

    {% endblock navbar %}
    {% endblock header %}


</header>

{% block main_content %}

<div class="row">
    <div class="col-xs-6">
    <div class="box box-success" style = "width:70%">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
                <i class="fa  fa-circle-o"></i>
        
                <h3 class="box-title">{{object.name}}</h3>
            </div>
        <p class="lead"></p>
        <img src="{{ object.image.url }}">
        {% if object.is_auction %}
        <div class="alert alert-danger alert-dismissible" style="width:100%;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> زمان مزایده</h4>
            <p id="demo"></p>
        </div>        
                    <button type="button" class="btn btn-info">{{object.auction.get_status_display}}</button>
        {% endif %}
        </div>        
        <div class="box box-success" style = "width:120%">
                <div class="box-header ui-sortable-handle" style="cursor: move;">
                    <i class="fa  fa-circle-o"></i>
            
                    <h3 class="box-title">اطلاعات</h3>
                </div>
        <div>
            <table class="table">

                <tbody>
                <tr>
                    <th>فروشنده</th>
                    {% if user.is_authenticated %}
                    <td><a href={{object.creator.url}}>{{object.creator.full_name}}</a></td>
                    {% else %}
                    <td>{{object.creator.full_name}}</td>
                    {% endif %}
                </tr>                
                <tr>
                    <th>تعداد باقی‌مانده</th>
                    <td>{{object.remaining}}</td>
                </tr>
                {% if object.is_auction %}
                <tr>
                    <th>بالاترین پیشنهاد</th>
                    <td>{{object.auction.price}}</td>
                </tr>
                <tr>
                    <th>پایان مزایده</th>
                    <td> {{object.auction.finish_date}}</td>
                </tr>                
                <tr>
                    <th>دیرترین زمان پرداخت</th>
                    <td>{{object.auction.pay_date}}</td>
                </tr>
                <tr>
                    <th>دیرترین زمان ارسال</th>
                    <td>{{object.auction.send_date}}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>قیمت پایه</th>
                    <td>{{object.price}}</td>
                </tr>
                <tr>
                    <th>دسته</th>
                    {% if object.suggested_new_category %}
                    <td>{{object.suggested_new_category}}</td>
                    {% else %}
                    <td>{{object.category.name}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>جنس</th>
                    <td>{{object.material}}</td>
                </tr>
                <tr>
                    <th>وضعیت</th>
                    <td>{{object.product_state}}</td>
                </tr>
                <tr>
                    <th>مکان</th>
                    <td>{{object.location}}</td>
                </tr>
                <tr>
                    <th>توضیحات</th>
                    <td>{{object.description}}</td>
                </tr>
                <tr>
                    <th>برچسب‌ها</th>
                    <td>{% for tag in object.tags.all %}
                        {{ tag.name }},
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th><a href='{% url "product:comparison" object.id 0 %}' class="btn"><span
                            class="label label-primary">مقایسه کن</span></a>
                    </th>
                    {% if user.is_authenticated %}
                    <th><a href='{% url "messaging:create-message" object.id %}' class="btn"><span
                            class="label label-primary">ارسال پیام خصوصی</span></a></th>
                    {% endif %}
                </tr>
                <tr>{% if object.remained %}
                    {% if object.is_auction %}
                    <a href='{% url "auction:create-bid" auction=object.auction.id%}'>
                        <button type="button" class="btn btn-info">مشارکت در مزایده</button>
                    </a>
                    {% else %}
                    <a href='{% url "shopping:buy" seller=object.creator.id prod=object.id   %}'>
                        <button type="button" class="btn btn-info">خرید کالا</button>
                    </a>
                    {% endif %}
                    {% endif %}
                    
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-6">
{% if relateds %}
        <div style="width: 120%; margin: 10px auto; border: 1px solid; border-radius: 10px; overflow: hidden;">
                <h3 style="padding: 10px; margin: 0;
                 display: block; width: 100%; background: #222d32; color: #eeeeee;"> کالاهای مرتبط</h3>
                <div class="row" style="background: white; overflow-x: scroll; display: flex; margin: 0;">
                    {% for product in relateds %}

                    <div class='col-md-4'
                         style="float: right; width: 300px;">
                        <div class="box box-default">
                            <div class="info-box">
                                <a href={{product.url}}><span class="info-box-icon"><img src={{product.image.url}}
                                                                                         class="img-circle"
                                                                                         alt={{product.name}}></span></a>
                                <div class="info-box-content">
                                        <span class="info-box-number"><a
                                                href={{product.url}}>{{product.name}}</a></span>
                                    <span class="info-box-text">{{product.price}} تومان</span>
                                    <span class="info-box-text">{{product.location}}</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
    </div>
</div>
<div class="box box-success" style = "width:60%">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
          <i class="fa fa-comments-o"></i>
    
          <h3 class="box-title">نظرات</h3>
        </div>

<div class="tab-pane active" id="timeline" dir="rtl">
    <!-- The timeline -->
    <ul class="timeline timeline-inverse" dir="rtl">
        <!-- timeline item -->
        {% if comments %}        
        {% for comment in comments %}
        <li>
            <i class="fa fa-envelope bg-blue"></i>

            <div class="timeline-item">


                <h3 class="timeline-header">{{comment.title}} توسط <a href="{{comment.user.url}}">{{comment.user.username}} </a></h3>

                <div class="timeline-body">
                    {{comment.text}}
                </div>

                <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs">{{ comment.date|jformat}}</a>
                </div>

            </div>
        </li>
        {% endfor %}
        {% else %}
        نظری برای نمایش وجود ندارد.        
        {% endif %}

    </ul>
</div>
</div>

{% if user.is_authenticated %}
<div class="box box-success" style = "width:60%">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
          <i class="fa fa-comments-o"></i>
    
          <h3 class="box-title">ارسال</h3>
        </div>
<div class="row">    
    <h5 style="margin-right: 10px;">اگر نظری بر روی این می‌خواهید به نمایش عموم در بیاید، آن را در کادر زیر وارد
        کنید. </h5>
    <div class="col-xs-6">
        <form method="post" enctype="multipart/form-data" novalidate>{% csrf_token %}
            <table class="table">
                <tbody>
                {% for field in form %}
                <tr>
                    <th><label for="id_name">{{ field.label_tag }}</label></th>
                    <td>
                        {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                        <br/>{{ field.help_text }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% if form.non_field_errors %}
                <ul>
                    {{ form.non_field_errors.as_ul }}
                </ul>
                {% endif %}
            </table>
            <input type="submit" class="btn btn-success" value="ثبت">            
        </form>
    </div>
</div>
</div>
{% endif %}

<script>
        // Set the date we're counting down to
        var countDownDate = new Date("{{date.isoformat}}").getTime();
        
        // Update the count down every 1 second
        var x = setInterval(function() {
        
          // Get todays date and time
          var now = new Date().getTime();
            
          // Find the distance between now and the count down date
          var distance = countDownDate - now;
            
          // Time calculations for days, hours, minutes and seconds
          var days = Math.floor(distance / (1000 * 60 * 60 * 24));
          var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
          // Output the result in an element with id="demo"
          document.getElementById("demo").innerHTML = days + "روز و  " + hours + " ساعت و "
          + minutes + "  دقیقه و" + seconds + "ثانیه تا پایان مزایده";
            
          // If the count down is over, write some text 
          if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "مزایده به پایان رسیده است.";
          }
        }, 1000);

</script>

{% endblock main_content %}



