<!-- transactions : transactions -->
{% extends "dashboard/mother_panel.html" %}
{% load static staticfiles %}


جزئیات کالا
{% block title %}
{% endblock title %}

{% block content_header_text %}
  <h1>جزئیات کالا</h1>
   {{ block.super }}
{% endblock content_header_text %}


{% block main_content %}
<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">تمایلات کاربر</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-bordered">
            <tbody><tr>
              <th>شناسه</th>
              <th>متن</th>
              <th>محله</th>
              <th>شهر</th>
              <th>کشور</th>
              <th>تگ‌ها</th>
              <th>دسته</th>
            </tr>
            {% for object in object_list %}
            <tr>
                <td>{{object.id}}</td>
                <td>{{object.text|default_if_none:"--" }}</td>
                <td>{{object.district|default_if_none:"--" }}</td>
                <td>{{object.city|default_if_none:"--" }}</td>
                <td>{{object.state|default_if_none:"--" }}</td>
                <td>
                        {% for tag in object.tags.all %}
                        {{ tag.name }},
                        {% endfor %}
                </td>
                <td>{{object.category|default_if_none:"--" }}</td>
            </tr>
            {% endfor %}
          </tbody></table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
{% endblock main_content %}


